<odoo>
	<data>

		<record id="action_line_produksi" model="ir.actions.act_window">
			<field name="name">Line Produksi</field>
			<field name="res_model">adhimix.pre.line</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
              <p class="oe_view_nocontent_create">
                Click to add a Data
              </p>				
			</field>
		</record>

		<!-- <menuitem id="academic_0" name="Academic" sequence="10"/>
		
		<menuitem id="academic_1" name="Academic" sequence="10" parent="academic_0"/> -->

		<menuitem id="menu_line_produksi"
		 action="action_line_produksi"
		 name="Line Produksi"
		 sequence="100"
		 parent="mrp.menu_mrp_bom"/>

	</data>
</odoo>